body
{
    background-color: beige;
}

h1
{
    color:seagreen;
}

a
{
    text-decoration: none;
    font-family: impact;
    padding: 10px;
    font-size: 16pt;
}

a:hover
{
    color: cornflowerblue;
    font-size: 20pt;
}